@model Local_Guide_App.Models.LocationDto

@{
    ViewBag.Title = "Location Details";
}

<main class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.LocationName</h5>
            <p class="card-text">@Model.LocationDescription</p>
            <p class="card-text">Category: @Model.Category</p>
            <p class="card-text">Address: @Model.Address</p>
            <p class="card-text">Ratings: @Model.AverageRating</p>
            <p class="card-text">Created Date: @Model.CreatedDate.ToString("yyyy-MM-dd")</p>
            @{
                string imageurl = "/Content/Images/Locations/default.jpg";
                if (Model.LocationHasPic)
                {
                    imageurl = "/Content/Images/Locations/" + Model.LocationId + "." + Model.PicExtension;
                }
            }
            <div class="mb-3">
                <img class="rounded card-img-top img-fluid" alt="@Model.LocationName" src="@imageurl" />
            </div>

            <div>
                <a href="@Url.Action("Edit", "Location", new { id = Model.LocationId })" class="btn btn-warning">Edit</a>
                <a href="@Url.RouteUrl("AddReview", new { locationId = Model.LocationId })" class="btn btn-primary">Add Review</a>
                <a href="@Url.Action("LocationWithReviews", "Location", new { id = Model.LocationId })" class="btn btn-secondary">View Reviews</a>
                <a href="@Url.Action("List")" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</main>
