@model Local_Guide_App.Models.LocationDto

@{
    ViewBag.Title = "Edit Location";
}

<h2>Edit Location</h2>

@using (Html.BeginForm("Update", "Location", FormMethod.Post))
{
    @Html.HiddenFor(model => model.LocationId)

    <div class="form-group">
        @Html.LabelFor(model => model.LocationName)
        @Html.TextBoxFor(model => model.LocationName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LocationDescription)
        @Html.TextBoxFor(model => model.LocationDescription, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Category)
        @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AverageRating)
        @Html.TextBoxFor(model => model.AverageRating, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Details", new { id = Model.LocationId }, new { @class = "btn btn-secondary" })
}
